@{
	Layout = "_Layout";
}

@model Inventory.Models.Game;

<h1 id="title">Add a new game</h1>

@using (Html.BeginForm())
{
	@Html.LabelFor(model => model.Name)
	<br>@Html.TextBoxFor(model => model.Name)
	<br>@Html.LabelFor(model => model.ReleaseDate)
	//@Html.TextBoxFor(model => model.Year) (can't do a year here easily)
	<br><input type="date" name="ReleaseDate">
	<br>@Html.LabelFor(model => model.Developer)
	<br>@Html.TextBoxFor(model => model.Developer)
	<br><br><input type="submit" value="Add a new game"/>
}

<br><p>@Html.ActionLink("Show all games", "Index")</p>